@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {

  color: #595959;
}

a {
  color: #e19999;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
a:hover {
  color: #e19999;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
}


::-webkit-scrollbar {
  width: 7px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e38484;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:#e19999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 16px;
  color: #fff;
  line-height: 0;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#back-to-top:hover i {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode:both;
  animation-iteration-count: infinite;
}



/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: transparent;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .logo-image img {
  width: 100%;
  height: 85px;
}

.offcanvas-collapse {
	position: fixed;
	top: 100px; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	overflow-y: auto;
	visibility: hidden;
	background-color: #fff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 12px;
	margin-bottom: 8px;
}

.navbar .nav-item .nav-link {
	font-size: 18px;
  color:#595959;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color:  #e19999;
}
.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 20px;
}

button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* background-color: #ffe5e5; */
  background-image: url('../img/banner\ 4.0.jpg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0 100px 0;
}
#hero::before{
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  content: '';
  background: url('../img/left-shape.jpg') no-repeat left bottom;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 86px;
  font-family: 'Livvic', sans-serif;
  /* font-family: 'Signika', sans-serif; */
  /* font-family: 'Capriola', sans-serif; */
}
#hero h2 {
  color:#595959;
  margin-bottom: 50px;
  font-size: 24px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  position: relative;
}

.section-title h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
  font-family: 'Capriola', sans-serif;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e19999;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# About US
--------------------------------------------------------------*/
#about-us .content h3{
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 20px;
  color: #595959;
  text-align: justify;
}
#about-us .content p{
  font-size: 18px;
  text-align: justify;
  line-height: 32px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 40px 0 ;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  border-bottom: 3px solid #e19999;
  border-radius: 6px;
  width: 100%;
  position: relative;
  text-align: center;
  background:#fff;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.counts .count-box i {
  position: absolute;
  top: -39px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  background: #e19999;;
  color: #fff;
  width: 76px;
  height: 76px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.counts .count-box .counting {
  font-size: 32px;
  display: block;
  font-weight: 600;
  color: #595959;
}
.counts .count-box .info{
    color: #595959;
    font-size: 35px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 5px; 
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 20px;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 0px 15px;
  margin-bottom: 20px;
  min-height: 200px;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 8%) !important;
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  margin: 45px 0 5px 0;
  color: #e19999;
  font-family: 'Capriola', sans-serif;
}

.testimonials .testimonial-item .fa-quote-left, .testimonials .testimonial-item .fa-quote-right {
  color: #e19999;;
  font-size: 20px;
}

.testimonials .testimonial-item .fa-quote-left {
  display: inline-block;
  left: 1px;
  position: relative;
}

.testimonials .testimonial-item .fa-quote-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}


.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e19999;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e19999;
}

.testimonials {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.testimonials .testimonial-item{
  padding-bottom:40px;
}
.testimonials .testimonial-item p {
  text-align: justify;
  margin: 15px auto 15px auto;
  height:124px;
  padding-right:5px;
  overflow-x:hidden;
  overflow-y:scroll;
}

.testimonials .testimonial-item p::-webkit-scrollbar{
    width:3.5px;
}
.testimonials .testimonial-item p::-webkit-scrollbar-thumb{
    background-color:transparent;
}
.testimonials .testimonial-item p:hover::-webkit-scrollbar-thumb{
    background-color: #6c757d;

}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #595959;
}

.faq .faq-list a.collapsed:hover {
  color:#e19999;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.faq .faq-list li {
  border-color:#ffe5e5;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 20px 0px !important; 
}
.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .member-img img {
  height: 100%;
  width: 100%;
}
.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}
.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.team .member .social a {
  transition: color 0.3s;
  color: #e19999;
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}
.team .member .social a:hover {
  color: #595959;
}
.team .member .social i {
  font-size: 18px;
}
.team .member .member-info {
  padding: 0px 15px 20px 15px;
  border-bottom: 3px solid #e19999;
  border-radius: 6px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #e19999;
}
.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color:#595959;
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}
/*--------------------------------------------------------------
# Challenges
--------------------------------------------------------------*/


.challenge-item {
  padding: 16px;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
  border-bottom: 3px solid #e19999;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 4px 0px rgb(21 14 56 / 8%);
}
.challenge-item:hover{
  box-shadow:0px 30px 50px 0px rgba(11, 02, 55, 0.10);
}
.challenge-image{
  overflow: hidden;
  border-radius: 5px;
}
.challenge-image img{
  width: 100%;
  height: 330px;
}

.challenge-content{
  padding: 16px 0px;
}
.challenge-title{
  font-size: 24px;
  margin-bottom: 10px;
  color: #e19999;
}
.challenge-content p{
  font-size: 16px;
  color:#595959;
  margin-bottom: 0px;
}
.challenge-more {
  padding: 12px 0px;
  border-top: 1px solid #f0f0f5;
}
.challenge-more .register{
  background-color: #e19999;
  transition-duration: 500ms;
  color: #ffffff;
  border-radius: 6px;
  border-color: #e19999;
  padding: 8px;
  font-size: 16px;
}

.challenge-btn .continue{
  text-decoration: none;
  font-size: 16px;
  color: #5d5a67;
  font-weight: 600;
  transition: all 0.25s linear;
}
.challenge-btn a.continue:after {
  content: "\f061";
  font-family: 'Font Awesome\ 5 Free';
  padding: 8px;
  position: relative;
  right: 0;
  margin-top: 2px;
  transition: all 0.15s linear;
}
.challenge-btn a.continue:hover:after{
  right: -10px;
  color: #e19999;
}
.challenges .breadcrumb {
  background: rgb(243, 243, 243);
  padding: 30px !important;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 0px !important;
}

.challenges .breadcrumb-item {
  color: #2a2a2a;
  font-weight: 600;
  font-size: 18px;
}

.challenges .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  font-size: 18px;
}
.challenges  .text p{
  text-align: justify;
  font-family: 'Montserrat',sans-serif;
}
.challenges .text li{
  margin-bottom:20px;
}
.challenges .benefits{

  font-family: 'Montserrat',sans-serif;
}
.challenges .rules-info{
  font-family: 'Montserrat',sans-serif;
  font-size: 18px;
  font-color: #595959;
}
.challenges .nav-tabs {
  border: none;
  border-radius: 4px;
  overflow: hidden;
}
.challenges .nav-tabs .nav-item {
  width: 25%;
}
.challenges .nav-tabs .nav-item .nav-link i {
  padding-right: 10px;
  font-size: 20px;
}
.challenges .nav-tabs .nav-item:not(:last-child) .nav-link.active {
  border-right: 1px solid #d2d3dc;
}
.challenges .nav-tabs .nav-item .nav-link.active {
  background: #e19999;
  color: #ffffff;
}

.challenges  .nav-tabs .nav-item .nav-link {
  background: #edeef3;
  font-size: 18px;
  color: #595959;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  border-radius: 0;
}
.challenges-breadcrumb {
  position: relative;
}
.challenges-breadcrumb .breadcrumbs-img img {
  width: 100%;
}
.challenges-breadcrumb .breadcrumbs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
/*Change here*/
@media (max-width: 768px){
  .challenges .nav-tabs {
      display: flex;
      justify-content: center;
  }
  .challenges-breadcrumb .breadcrumbs-img img {
      min-height: 250px;
  }
  .challenges .nav-tabs .nav-item {
      width: 100%;
      margin-top: 10px;
  }
}

.challenges .benefits{
  background-color:#F9F9F9;
  padding:20px;
}
.challenges .benefits  .list-group-item{
  border:0!important;
  background:transparent;
  margin: 0px;
  padding: 10px;
}

/*Newly added*/
.challenges .benefits  .main-list{
  margin-bottom:0!important;
  width: 50%;
}
/*Change Here*/
@media (max-width: 992px){

  .challenges .benefits  .main-list{
    width: 100%!important;
  }
  /*Moved from 768 to here*/
  .form-box{
      margin-top: 20px !important;
  }
}
.form-box li{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}
.challenges .benefits  h5{
  padding-top:10px;
}
.challenges .rules-info .challenge-rules li{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
}
.challenges .rules-info .challenge-rules p{
    padding-left: 2rem;
}
/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/
.rating .fa-star{
color:#e19999;
}
.challenges .review{
  margin-bottom:20px;
}

.challenges .comments .row{
  margin:10px 0;
}

.challenges .comment{
  border-bottom: 1px solid #ebecf2;
  padding-bottom:20px;
}
.challenges .comment p{
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: justify;
}

.challenges .review .rating{
  color:#e19999;
  width: 100%;
  height: 200px;
  background: #f7f8fa;
  border-radius: 5px;
  text-align: center;
  padding: 34px 15px;
}


.challenges .review .rating h6{
  font-size: 14px;
  line-height: 28px;
  color: #5d5a67;
  margin: 0 0 20px;
}

.challenges .review-form .element-1{
  padding:10px 20px;
  height:56px;
}

.challenges .review-form .form-control{
  border:1px solid transparent;
  margin:10px 0;
  background:#f5f5f7;
  color:#7e7c87;
  box-shadow: none;

}
.challenges .review-form input:focus,.challenges .review-form textarea:focus{
  border-color: #e19999;
  background: #fff;
}

.challenges .detailed-rating{
  width: 100%;
  height: 200px;
  background: #f7f8fa;
  border-radius: 5px;
  padding: 36px 40px;
}
.challenges .rate-item{
  position: relative;
  padding-left: 25px;
  padding-right: 55px;
  margin: 0 0 24px;
}
.challenges .rate-item p{
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 14px;
  line-height: .8;
  color: #2c234d;
  font-weight: 600;
  margin: 0;
}
.challenges .rate-item .progress{
  height: 6px;
  border-radius: 30px;
  background: #e1e4eb;
}
.challenges .rate-item .progress-bar{
  background: #e19999;
  border-radius: 30px;
}
.challenges .rate-item span{
  position: absolute;
  right: 0;
  top: -3px;
  color: #7e7c87;
  font-size: 14px;
  line-height: .8;
  font-weight: 600;
}
.challenges .review-rating{
  position: relative;
}
.challenges .review-rating > h5{
  font-size: 20px;
  margin: 0 0 45px;
}
.challenges .review-rating ol{
  margin: 0;
  padding: 0;
}
.challenges .review-rating ol li{
  list-style: none;
  display: block;
}
.challenges .ratings{
  display: block;
  margin: 0 0 3px;
}
.challenges .ratings i{
  font-size: 14px;
}
.challenges .ratings i:last-child{
  color: #c4c2cb;
}

.form-box{
  position: relative;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 10px 50px 0px rgb(44 44 52 / 8%);
  padding: 20px;
  background: #ffffff;
  z-index: 10;
  margin-top: -130px;
}
.form-box img{
  width: 100%;
  height: auto;
}
.information{
  margin-top: 20px;
}
.information i {
  margin-right: 10px;
  color: #e19999;
}
.information li{
  list-style: none;
}
.information ul li:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eef0f6;
}
.rules-info li{
  text-align: justify;
}

.challenges .register{
  background: #e19999;
  color: #fff;
  border: 1px solid #e19999;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
}
.challenges .register:hover{
  /* background: transparent;
  color: #e19999; */
  color: #ffffff;
  box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);
}
.challenges .review-form .btn:focus{
  border-color: #e19999;
  background: #e19999;
  box-shadow: none;
}

.comments .list-group,.list-group-item{
  border:0;
}

/*--------------------------------------------------------------
# Batches
--------------------------------------------------------------*/
.batches-card {
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: all 0.4s ease;
  box-shadow: 0px 30px 50px 0px rgb(11 2 55 / 10%);
  border-bottom: 3px solid #e19999;

}

.batches-card .batches-card-image{
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 0s;
}
.batches-card .batches-card-image img{
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.batches-card .batches-card-image div{
  transition: all 0.5s ease-in-out;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.batches-card .batches-card-image p{
  font-size:2rem;
  color:white;
  text-align:center;
  margin-top:25%;
  line-height:40px;
}

.batches-card:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  filter: blur(2px);
  opacity:.3;
}
.batches-card:hover .batches-card-image{
  background-color:black;
  transition: all 0.5s ease-in-out;
}

.batches-card:hover .batches-card-image div{
  opacity: 1;
}

.batches-card .batches-card-content{
  padding: 16px 0px;
}
.batches-card .batches-card-content .batch-title{
  font-size: 24px;
  margin-bottom: 10px;
  color: #e19999;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.batches-card .batches-card-content .batch-title{
    font-size:26px;
    margin-bottom:7.4px;
    transition: all 0.4s ease 0s;
}

.timeline {
  width: 100%;
}
.timeline.timeline-one .timeline-item {
  position: relative;
  width: 50%;
  margin-left: 50%;
  padding-bottom: 24px;
  padding-left: 24px;
  text-align: left;
}
@media (max-width: 575px) {
  .timeline.timeline-one .timeline-item {
      width: 100%;
      margin-left: 0;
  }
}
.timeline.timeline-one .timeline-item img {
  margin-bottom: 20px;
}
.timeline.timeline-one .timeline-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-left:-8px;
  border: 1px solid #e19999;
  background: #e19999;
  border-radius: 50%;
}
.timeline.timeline-one .timeline-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  width: 1px;
  margin-top: 30px;
  margin-left: -1px;
  background-color: #e19999;
}
.timeline.timeline-one .timeline-item:nth-child(2n + 1) {
  margin-left: 0;
  padding-right: 24px;
  padding-left: 0;
  text-align: right;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
#gallery {
  background: #fff;
  padding: 0px 0 30px 0 !important;
  overflow: hidden;
}

#gallery .gallery-item {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
}

#gallery .gallery-item img {
  transition: transform .5s ease-in-out;
  width: 100%;
  border-radius: 5px;
}
#gallery .gallery-item:hover{
  transform: scale(1);
  box-shadow: 0 8px 15px rgb(0 0 0 / 30%);

}
/* 
#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
} */
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
  border-top: 3px solid #e19999;
  border-bottom: 3px solid #e19999;
  padding: 20px;
  padding-bottom: 0px !important;
  background: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact .info i {
  font-size: 20px;
  color: #e19999;
  float: left;
  width: 44px;
  height: 44px;
  background: #fbf2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}
.contact .info a {
  padding: 0 0 10px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #595959;
}
.contact .info .email a {
  padding-top: 5px;
}

.contact .info .email:hover i, .contact .info .phone:hover i {
  background: #e19999;
  color: #fff;
}
.contact .contact-form {
  width: 100%;
  border-top: 3px solid #e19999;
  border-bottom: 3px solid #e19999;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .contact-form h3{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}
.contact .contact-form .contact-text{
  margin-bottom: 26px;
  font-size: 16px;
  color: #595959;
}
.contact .contact-form .form-group {
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.contact .contact-form label {
  padding-bottom: 8px;
}
.contact .contact-form input, .contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .contact-form input:focus, .contact .contact-form textarea:focus {
  border-color: #e19999;
}
.contact .contact-form input {
  height: 34px;
}
.contact .contact-form textarea {
  padding: 10px 12px;
}
.contact .contact-form .button {
  background: #e19999;
  border: 0;
  height: 45px;
  font-size: 16px;
  padding: 0px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .contact-form .button:hover {
  background: #c27a7a;
}
/*--------------------------------------------------------------
# Rules and Guidelines
--------------------------------------------------------------*/
.note .alert {
  border-bottom: 3px solid#e19999;
  border-radius: 10px;
  background: #fbf2f3 !important;
}

.note .note-title {
  display: flex;

}

.note .note-title i {
  color: #e19999;
  font-size: 27px;
}

.note .note-title h5 {
  margin-left: 16px;
  font-size: 21px;
  color: #595959;

}

.rules-guidelines{
  margin: 20px 0px;
}
.rules-guidelines h4{
  font-size: 30px;
  color: #e19999;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
.rules-guidelines h3{
  font-size: 20px;
  color: #595959;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 0px;
}
.rules-guidelines p{
    padding-left:2rem;
    text-align: justify;
    font-family:"Montserrat",sans-serrif;
}

.rules-guidelines.bottom ul li{
  padding: 12px;
  text-align: justify;
}
.rules-guidelines ul li {
  list-style-type: disc !important;
  font-size: 18px;
  color: #595959;
  padding-bottom: 10px;
}

.rules-guidelines strong{
  font-weight:bold;
}

  
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #424242;
  padding: 0 0 30px 0;
  color:#fff;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #424242;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #e19999;
}
#footer .footer-top .footer-contact h3 span {
  color: #e19999;
}
#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color:#fff;
  text-align: justify;
}
#footer .footer-top .footer-contact strong{
  color: #e19999;
}
#footer .footer-top .footer-contact a{
  color: #fff;
  margin-left: 10px;
}
#footer .footer-top h4 {
  font-size: 23px;
  color:#fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #e19999;
  font-size: 15px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color:#fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #e19999;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fbf2f3;
  color: #e19999;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #e19999;
  border-top-color: #f5f7f8;;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Batch Page
--------------------------------------------------------------*/
#carouselExampleFade{
    margin: 0 10% 5%;
    padding:2.5%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color:#424240;
}
#carouselExampleFade img{
    border-radius:10px;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}
#carouselExampleFade .item{
    /*background-color: rgba(255,255,255,0.20);*/
    transition: all 0.3s ease-in-out;
    background-color:#e19999;
    top:28%;
    opacity:.3;
    border-radius: 100%;
    display: inline-block;
    width: 11.7%;
    height: 20%;
}
#carouselExampleFade .icon-left{
width:30%;
height:35%;
    position:relative;
    top: 3.3%;
    left:30%;
}
#carouselExampleFade .icon-right{
width:30%;
height:35%;
    position:relative;
    top: 3.3%;
    right:30%;
}
#carouselExampleFade .item:hover{
    transition: all 0.3s ease-in-out;
    opacity:1;
}
#carouselExampleFade .item-left:hover{
transition: all 0.3s ease-in-out;
    left:-19%;
}

#carouselExampleFade .item-right:hover{
transition: all 0.3s ease-in-out;
    right:-19%;
}

#carouselExampleFade .item-left{
    transition: all 0.3s ease-in-out;
    left:-20%;
}
#carouselExampleFade .item-right{
    transition: all 0.3s ease-in-out;
    right:-20%;
}
@media (max-width: 576px){
  #carouselExampleFade{
    margin: 0 8% 2%;
  }
  #carouselExampleFade .item{
    opacity: 1;
  }
  #carouselExampleFade .item-left{
    left: -17%;
  }
  #carouselExampleFade .item-right{
    transition: all 0.3s ease-in-out;
    right:-17%;
  }
  #carouselExampleFade .item-left:hover{
    transition: none;
    left: -17%;
  }
  #carouselExampleFade .item-right:hover{
    transition: none;
    right: -17%;
  }

}
.counter::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.counter {
  background: url('https://bootstrapmade.com/demo/templates/Techie/assets/img/counts-bg.png') center center no-repeat;
  background-size: cover;
  position: relative;
}
#counter-stats {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

#counter-stats  .counting {
  color: #fff;
  margin-top: 20px;
}

#counter-stats  .stats {
  text-align: center;
  font-size: 35px;
  font-family: 'Nunito Sans', sans-serif;
  
}
#counter-stats  .stats .fa {
  color:  #fff;
  font-size: 40px;
}
#counter-stats .counting{
  margin-top: 0px;
}

#counter-stats .stats h5{
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-size: 25px;
}

.perfomer {
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin: 15px;
}

.perfomer .thumb {
  position: relative;
  border-radius: 50px;
}

.perfomer:hover .content h4{
  color: #e19999;
}

.perfomer .thumb img {
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
  overflow: hidden;
  display: block;
  width: 100%;
}



.perfomer .content {
  background-color: #fff;
  text-align: center;
  padding: 18px 0px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

.perfomer .content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 8px;
  transition: all .3s;
}
